.members {
    display: absolute;
    align-items: center;
    justify-content: center;
    width: 12.6875rem;
    height: 3.25rem;
    flex-shrink: 0; 

    border-radius: 0.625rem;
    border: 1px solid #B2E3FF;
    background: #F4FBFF;

    text-align: center;

    margin-left: 3.56rem;
    margin-top: 1.81rem;
}

.members p {
    color: #4F4F4F;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.members .close-mini {
    margin-left: 0.88rem;
    margin-bottom: 0.3rem;

    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
}
