.person {
    display: inline-flex;
    padding: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    width: 31.0625rem;
    height: 25.125rem;

    border-radius: 2rem;
    background: #FFF;
}

.personInfo {
    width: 19.9375rem;
    height: 6.25rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personalInfoPic {
    width: 6.25rem;
    height: 6.25rem;

    border-radius: 6.25rem;
}

.personInfoLoc {
    display: flex;
    flex-direction: column;

    height: 4.125rem;

    margin-left: 1rem;
}

.personInfoLoc h3 {
    

    color: var(--291-f-68, #291F68);
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    margin-top: 0.125rem;
    margin-bottom: 0.125rem;

   
}


.personInfoLocImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
}

.personInfoLocImg img {
    width: 1.75rem;
    height: 1.75rem;
}

.personInfoLocImg p {
    width: 10.6875rem;
    height: 1.5rem;

    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
    margin-left: 0.01rem;

    color: var(--291-f-68, #291F68);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}